<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="Style/StyleContactos.css">
    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo">
                <img src="maravillosas.jpg" alt="Logo">
                <span class="brand-name"></span>
            </a>
            <ul>
                <li><a href="inicio.html">INICIO</a></li>
                <li><a href="Contacto.html">CONTACTO</a></li>
                <li><a href="Accesorios.html">PRODUCTOS</a></li>
                <li><a href="Registro.html">REGISTRO</a></li>
                <li><a href="Login.html">LOGIN</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="box-info">
            <h1>Información de Contacto</h1>
            <div class="data">
                <p><i class="fas fa-phone"></i> +56974713144</p>
                <p><i class="fas fa-envelope"></i> Dy.ruiz@duocuc.cl</p>
                <p><i class="fas fa-map-marker-alt"></i> Brazil 1, Santiago</p>
            </div>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <form>
            <div class="input-box">
                <input type="text" placeholder="Nombre y Apellido" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Correo Electrónico" required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Asunto" required>
                <i class="fas fa-pen"></i>
            </div>
            <div class="input-box">
                <textarea placeholder="Escribe tu mensaje" required></textarea>
            </div>
            <button type="submit">Enviar Mensaje</button>
        </form>
    </div>

    <footer>
        <div>Grupo de duoc uc</div>
      </footer>
</body>
</html>
